<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div *ngIf="emptyData" class="container-fluid mt-100">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body cart">
                                <div class="col-sm-12 empty-cart-cls text-center"> <img
                                        src="https://i.imgur.com/dCdflKN.png" style="margin-right: 4%;" width="130" height="130"
                                        class="img-fluid mb-4 mr-3">
                                    <h3><strong>Your Cart is Empty</strong></h3>
                                    <h4>You can view the products by clicking the button below to fill your cart.</h4> 
                                    <button mat-raised-button [routerLink]="productsLink"
                                        class="btn btn-primary cart-btn-transform m-3" >Continue
                                        Shopping</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <table *ngIf="!emptyData" class="table table-hover">
                <div style="align-items: center;" *ngIf="emptyData">
                    <p class="no-data">No data available in basket!</p>
                </div>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of basketProducts">
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#"> <img class="media-object"
                                        src="http://localhost:5000/uploads/{{product.imagePath}}"
                                        style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">{{product.productName}}</a></h4>
                                    <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                                    <span>Status: </span><span class="text-success"><strong>In Stock</strong></span>
                                </div>
                            </div>
                        </td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="email" readonly class="form-control" id="exampleInputEmail1" value="1">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{product.productPrice | number : '1.0-2'}}
                                TL</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{addTax(product.productPrice,1) | number :
                                '1.0-2'}}
                                TL</strong>
                        </td>
                        <td class="col-sm-1 col-md-1">
                            <button (click)="deleteBasket(product.id,product.productId)" mat-raised-button
                                class="remove-button" color="warn">X</button>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h5>Subtotal</h5>
                        </td>
                        <td class="text-right">
                            <h5><strong>{{calculateRawPrice(basketProducts) | number : '1.0-0'}} TL</strong></h5>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <h3>Total</h3>
                        </td>
                        <td class="text-right">
                            <h3><strong>{{calculateTaxValue(basketProducts) | number : '1.0-2'}} TL</strong></h3>
                        </td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <button mat-raised-button [routerLink]="productsLink" class="continue-shopping">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                            </button>
                        </td>
                        <td>
                            <button mat-raised-button class="checkout-button">
                                Checkout <span class="glyphicon glyphicon-play"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>