<img src='assets/icons/menu/milk-bottle.png' style="margin-left: 47%; width: 24px; height: 24px;">
<br>
<br>
<div style="padding-left: 30%;">

    <mat-form-field appearance="fill">
        <mat-label>Select Milksale ID</mat-label>
        <mat-select style="margin-left: 4%;" [(ngModel)]="property">
            <mat-option *ngFor="let milksale of milkSales" [value]="milksale">
                <p>{{milksale.id}}</p>
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<body>

    <div *ngIf="property">

        <form [formGroup]="updateMilkSaleGroup">

            <input class="form-control" formControlName="id" [ngModel]="property.id" type="hidden"
                placeholder="{{property.id}}" readonly>


            <h1 id="header">Amount</h1>
            <input formControlName="amount" type="number" class="form-control" [ngModel]="property.amount"
                placeholder="Amount.." />


            <h1 id="header" style="margin-top: 0%;">Price</h1>
            <input formControlName="salePrice" type="text" class="form-control" [ngModel]="property.salePrice"
                placeholder="Sale Price.." />

            <br>
            <div class=form-floating>
                <mat-form-field style="margin-left:  30%;" appearance="fill">
                    <mat-label>Customer Name</mat-label>
                    <mat-select formControlName="customerId" matNativeControl>
                        <mat-option *ngFor="let customer of customers" [value]="customer.id">{{customer.firstName}}
                            {{customer.lastName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <h1 id="header">Phone Number</h1>
            <input formControlName="boughtDate" type="datetime-local" class="form-control"
                [ngModel]="property.boughtDate" placeholder="Phone Number.." />



        </form>
        <br>
        <a mat-raised-button (click)="openModal(template)" [disabled]="!this.updateMilkSaleGroup.valid"
            color="primary">Update</a>
        <ng-template #template>
            <div class="modal-body text-center">
                <p>Do you want to update?</p>
                <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
                <button type="button" class="btn btn-primary" (click)="decline()">No</button>
            </div>
        </ng-template>
    </div>
</body>