<mat-toolbar *ngIf="isAuth">
  <div *ngIf="isAuth" style="display: inline-flex;">
    <div style="display: inline-flex;">
      <!-- This basket is deprecated -> MOVED FLUTTER -->
      <!-- <div>
        <button mat-raised-button [routerLink]="basketPage" class="mr-sm-2" style="background-color:white"><img
            src="assets/icons/menu/shopping-basket.png" style="color: black;"></button>
      </div> -->
      
    </div>
    <button mat-button [routerLink]="routerLinkVariable">
      <img style="height: 54px; width: 58px; top: 5px;position: fixed;left: 20px;" src="assets/icons/leftfarm.png" />
      <div class="maintitlediv">
        <span style="position:relative ;margin-left: 10px; margin-right: 10px;font-size: 16px;top: 0px;">Admin Panel</span>
      </div>
    </button>
    <button mat-raised-button [routerLink]="profilePage" class="btn profile-button">
      <img src="assets/icons/menu/user.png">
      <mat-select style="padding-right: 30%;" (selectionChange)="navigateTo($event.value)">
        <mat-option>
          <option (click)="navigateTo(profilePage)">Profile</option>
        </mat-option>
        <mat-option>
          <option (click)="logout()">Logout</option>
        </mat-option>
      </mat-select>
    </button>
  </div>
</mat-toolbar>
<mat-sidenav-container>

  <mat-sidenav #sidenav [disableClose]="true" mode="side" [opened]="isShowing" *ngIf="isAuth">
    <a style="display:block; height: 90px; width: 150px; top: 15px;margin-bottom: -15px;"
      [routerLink]="routerLinkVariable">
      <img id="hicon" src="assets/icons/lely.png" />
    </a>
    <button mat-raised-button style="margin-top: 20%;" *ngIf="isAdmin || isUser"  [routerLink]="routerLinkVariable">
      <div style="margin-right: 40px;">
        <img src='assets/icons/menu/wheat.png' />
        Dashboard
      </div>
    </button>
    
    <button mat-raised-button [routerLink]="customerPage" *ngIf="isAdmin || isUser">
      <div style="margin-right: 40px;">
        <img src='assets/icons/menu/customer.png' />
        Customers
      </div>
    </button>
    
    
    <mat-accordion  *ngIf="isAdmin || isUser">
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src='assets/icons/menu/animals.png'>
            Animals
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-raised-button id="bottombutton" [routerLink]="cowsPage" style="margin-right: 30%;">
          <img src='assets/icons/menu/cow.png'>
          Cows
        </button>
        
        <button mat-raised-button id="bottombutton" [routerLink]="calvesPage" style="margin-right: 50%;">
          <img src='assets/icons/menu/calf.png' style="width: 24px; height: 24px;">
          Calves
        </button>
        
        <button mat-raised-button id="bottombutton" [routerLink]="bullsPage" style="margin-right: 30%;">
          <img src='assets/icons/menu/bull.png'>
          Bulls
        </button>
        
        <button mat-raised-button id="bottombutton" [routerLink]="sheepsPage" style="margin-right: 30%;">
          <img src='assets/icons/menu/sheep.png'>
          Sheeps
        </button>
      </mat-expansion-panel>
      
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src='assets/icons/menu/consumables.png'>
            Consumables
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-raised-button id="bottombutton" [routerLink]="provendersPage" style="margin-right: 30%;">
          <img src='assets/icons/menu/provender.png'>
          Provenders
        </button>
        
        <button mat-raised-button id="bottombutton" [routerLink]="fertilizerPage" style="margin-right: 30%;">
          <img src='assets/icons/menu/fertilizer.png' style="width: 24px; height: 24px;">
          Fertilizers
        </button>
        
        <button mat-raised-button id="bottombutton" [routerLink]="fuelConsumptionPage" style="margin-right: 30%;">
          <img src='assets/icons/menu/oil.png'>
          Fuel Consump.
        </button>
        
      </mat-expansion-panel>
      
      <mat-expansion-panel style="margin-bottom: 10%;">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src='assets/icons/menu/data.png'>
            Sales Data
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button id="bottombutton" mat-raised-button [routerLink]="milkSalesPage">
          <img src='assets/icons/menu/milk-bottle.png'>
          Milk Sales
        </button>
        <button id="bottombutton" mat-raised-button [routerLink]="animalsSalePage">
          <img src='assets/icons/menu/cow-sale.png'>
          Animal Sales
        </button>
      </mat-expansion-panel>
    </mat-accordion>
    
    <button mat-raised-button [routerLink]="ordersPage" *ngIf="isAdmin || isUser">
      <div style="margin-right: 40px;margin-top: 0%;">
        <img src='assets/icons/menu/order-delivery.png' />
        Pending Orders
      </div>
    </button>
    
    
    <button mat-raised-button [routerLink]="listedProductsPage" *ngIf="isAdmin || isUser">
      <div style="margin-right: 40px;margin-top: 0%;">
        <img src='assets/icons/menu/listed-products.png' />
        Listed Products
      </div>
    </button>
    
    <!-- This is a just buy a product test page (removed here / now this section in mobile) -->
    <!-- <button mat-raised-button style="margin-top: 20%;" [routerLink]="buyProductPage" *ngIf="isAdmin || isCustomer">
      <div style="margin-right: 40px;margin-top: 0%;">
        <img src='assets/icons/menu/buy-button.png' />
        Buy a Product
      </div>
    </button> -->
  </mat-sidenav>
  <!-- //Content -->
  <mat-sidenav-content>
  
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <!-- footer -->
    <footer *ngIf="isAuth">
      <div>
        <div style="margin-top: 2%;" class="col-lg-12 text-center">
          <p style="display: inline;">Contact me with LinkedIn </p>
          <a href="https://www.linkedin.com/in/faruk-kardas/">
            <img src="assets/icons/menu/linkedin.png"></a>
        </div>
      </div>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>