mat-toolbar {
    background: red;
    color: white;
    border-radius: 5px;
}

mat-sidenav {
    margin: 10px;
    width: 210px;
    border-right: none;
    background-color: red;
    color: white;
    border-radius: 10px;
    padding-left: 15px;
    font-size: 16px;
    position: fixed;
    margin-top: 70px;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-left: 0px;
}

mat-form-field {
    height: 40px;
    background-color: white;
}



.content {
    margin: 16px;
    margin-left: 32px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

mat-sidenav-container {
    height: calc(90vh);
}

.img {
    width: 20px;
    height: 20px;
}

.mat-raised-button {
    width: 180px;
    height: 48px;
    color: black;
    font-weight: 500;
    margin-bottom: 10%;
}

.mat-expansion-panel {
    width: 180px;
    margin-top: 0%;
    margin-bottom: 10%;
}



.mat-expansion-panel-header {
    color: black;
    font-weight: 500;
}

#hicon {
    width: 150px;
    height: 80px;
    pointer-events: none;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.btn-primary {
    background-color: white;
    position: fixed;
    top: 15px;
    width: 50px;
    box-shadow: none;
    border-color: grey;
}

.btn-primary:active {
    background-color: grey;
    box-shadow: none;
}

.btn-primary:hover {
    transform: scale(1.05);
}

.profile-button {
    background-color: white;
    position: fixed;
    top: 10px;
    width: 60px;
    height: 45px;
    right: 15px;
    box-shadow: none;
    border-color: grey;
}

.profile-button:active {
    background-color: grey;
    box-shadow: none;
}

.profile-button:hover {
    transform: scale(1.05);
    border: 2px solid grey;
}


.mr-sm-2 {
    position: fixed;
    right: 75px;
    width: 60px;
    height: 45px;
    margin-right: 20px;
    top: 10px;

}

.mr-sm-2:hover {
    transform: scale(1.05);
    border: 2px solid grey;
}

.maintitlediv {
    position: fixed;
    height: 35px;
    top: 15px;
    left: 90px;
    color: red;
    font-weight: 500;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

#bottombutton {
    left: -15px;
    width: 160px;
    margin-bottom: 5%;
}

.dropdown-menu {
    margin: -10px;
}

.hide-toggle {
    background-color: red;
    color: white;
    width: 10px !important;
    min-width: unset !important;
    position: fixed;
    height: 30px;
    margin-top: 6px;
    margin-left: -10px;
    display: inline-flex;
    align-items: center;
    z-index: 1;
}