<body class="text-center">
    <main class="form-signin">
        <form [formGroup]="cargoGroup">
            <h1 class="h3 mb-3 fw-normal">Add a Cargo Number </h1>
            <input class="form-control" formControlName="order" type="hidden"
            readonly>
            <div class="form-floating">
                <input formControlName="deliveryNo" type="number" class="form-control" placeholder="Bull ID.." required />
                <label for="floatingInput">Cargo number..</label>
            </div>
            <br>
            <button type="button" class="btn btn-primary"
                (click)="openModal(template)">Add</button>
            <br><br>
            <ng-template #template>
                <div class="modal-body text-center">
                    <p>Do you want to add?</p>
                    <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
                    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
                </div>
            </ng-template>
        </form>
    </main>
</body>