<div class="mat-elevation-z8">


    <div style="margin-bottom: 2%; margin-top: 1%; margin-left: 1%; padding-top: 1%;">
        <button mat-raised-button (click)="openAddMenu()" style="background-color: red;" color="primary">Add</button>
        <mat-form-field style="margin-left: 70%;">
            <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter..">
        </mat-form-field>
    </div>



    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td style="height: 100px;" mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name | titlecase}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
            <td mat-cell *matCellDef="let element"> {{ element.price| currency: "TRY":true }}</td>
        </ng-container>

        <ng-container matColumnDef="imagePath">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
            <td mat-cell *matCellDef="let element"> <img style="height: 80px;" src="http://localhost:5000/uploads/{{element.imagePath}}"></td>
        </ng-container> 

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
            <td mat-cell *matCellDef="let element">  <button mat-raised-button (click)="deleteProducts(element.id)" style="background-color: red; padding: 0;width: 120px;" color="primary">Delete from List</button> </td>
        </ng-container> 

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div>
        <p style="text-align: center;margin-top: 30px;font-weight: 400;" *ngIf="emptyData"> No data found!</p>
    </div>

    <mat-paginator [pageSizeOptions]="[10, 20, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
</div>