<img src='assets/icons/menu/sheep.png' style="margin-left: 47%;">
<br>
<br>
<div style="padding-left: 30%;">
  <mat-form-field appearance="fill">
    <mat-label>Select Sheep ID</mat-label>
    <mat-select style="margin-left: 4%;" [(ngModel)]="property">
      <mat-option *ngFor="let sheep of sheeps" [value]="sheep">
        <p>{{sheep.sheepId}}</p>
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<body>
  <div *ngIf="property">
    <form [formGroup]="deleteSheepGroup">
      <input class="form-control" formControlName="id" [ngModel]="property.id" type="hidden"
        placeholder="{{property.id}}" readonly>
      <input class="form-control" formControlName="sheepId" [ngModel]="property.sheepId" type="hidden"
        placeholder="{{property.sheepId}}" readonly>
      <h1 id="header">Age</h1>
      <input class="form-control" formControlName="age" type="text" [ngModel]="property.age"
        placeholder="{{property.age}}" readonly>
      <h1 id="header">Race</h1>
      <input class="form-control" formControlName="race" type="text" [ngModel]="property.race"
        placeholder="{{property.race}}" readonly>
      <h1 id="header">Weight</h1>
      <input class="form-control" formControlName="weight" type="number" [ngModel]="property.weight"
        placeholder="{{property.weight}}" readonly>
    
    </form>
    <br>
    <a mat-raised-button (click)="openModal(template)" color="primary">Delete</a>
    <ng-template #template>
      <div class="modal-body text-center">
        <p>Do you want to delete?</p>
        <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-primary" (click)="decline()">No</button>
      </div>
    </ng-template>
  </div>
</body>