
.btn-primary {
    color: white; 
    background-color: red;
    border-color: red;
    width: 100px;
}

textarea{ 
    width: 505.891px; 
    min-width:505.891px; 
    max-width:505.891px; 
  
    height:100px; 
    min-height:100px;  
    max-height:100px;
  }