.mat-form-field {
    text-align: center;
    align-self: center;
    justify-content: center;
}

.form-control {
    display: block;
    width: 50%;
    height: 25%;
    margin-left: 25%;
    margin-top: 0px;
}

.body {
    text-align: center;
}

#header {
    margin-bottom: 5px;
    text-align: center;
    font-size: 100%;
    font-weight: 550; 
    font-style: italic;
  
}

.mat-raised-button {
    width: 100px;
    background-color: red;
    margin-left: 41%;
}

.btn-default {
    background-color: red;
    color: white;
    margin-right: 5%;
}

.btn-primary {
    color: red; 
    background-color: white;
}

#icon{
    float: left;
    margin-left: 15%;
}
