table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
.delivery-button{
  background-color: orange;
  color: black;

}


.approved-button{
  background-color: greenyellow;
  color: black;

}

.completed-button{
  background-color: green;
  color: black;

}

.pending-button{
  background-color: yellow;
  color: black;


}

.canceled-button{
  background-color: red;
  color: black;
}




  
