<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </div>

    <div class="row mb-3">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">Earnings (Total)</div>
                            <div  id="price" class="h5 mb-0 font-weight-bold text-gray-800">{{ profit | number: '1.2-2'}} ₺</div>
                           
                        </div>
                        <div class="col-auto">
                            <img src="assets/icons/colorearn.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Earnings (Annual) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">Sales</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ sales }}</div>
                        </div>
                        <div class="col-auto">
                            <img src="assets/icons/colorsales.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- New User Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">Customer</div>
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ customerCount }}</div>
                           
                        </div>
                        <div class="col-auto">
                            <img src="assets/icons/colorcustomer.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-uppercase mb-1">Animals</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ animalCount  }}</div>
                        </div>
                        <div class="col-auto">
                           <img src="assets/icons/colorcow.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Total Sale Report</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <!-- <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i> -->
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                         <ngx-charts-bar-vertical     
                        [view]="[1040,400]"
                        [results]="milkSales"
                        [xAxisLabel]="'Customers'"
                        [legendTitle]="'Sales Chart'"
                        [yAxisLabel]="'Milk Sales (TL)'"
                        [legend]="true"
                        [showXAxisLabel]="true"
                        [showYAxisLabel]="true"
                        [xAxis]="true"
                        [showDataLabel]="true"
                        [yAxis]="true"
                        [animations]="true"
                        [showGridLines]="true"
                        [barPadding]="10"
                        [gradient]="true"
                        [showDataLabel]="true"
                        >
                    </ngx-charts-bar-vertical>    
                    </div>
                </div>
            </div>
        </div>
        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <!-- <h6 class="m-0 font-weight-bold text-primary">Animal Counts</h6> -->
                    <div class="dropdown no-arrow">
                        
                        <ngx-charts-bar-horizontal     
                        [view]="[490,400]"
                        [results]="animals"
                        [xAxisLabel]="'Animals'"
                        [legendTitle]="'Animals'"
                        [yAxisLabel]="'Animal Counts'"
                        [showXAxisLabel]="true"
                        [showYAxisLabel]="true"
                        [yAxis]="true"
                        [legend]="true"
                        [showDataLabel]="true"
                        [animations]="true"
                        [showGridLines]="true"
                        [barPadding]="10"
                        [gradient]="true"
                        [showDataLabel]="true"
                        >
                    </ngx-charts-bar-horizontal>  
                    </div>
                </div>
         
            </div>
        </div>
        <!-- Invoice Example -->
        <div class="col-xl-8 col-lg-7 mb-4">
            <div class="card">
                <table mat-table [dataSource]="milkSalesData" matSort>

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.salesId}} </td>
                    </ng-container>
            
            
                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.firstName}} {{element.lastName}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="amount">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Amount </th>
                        <td mat-cell *matCellDef="let element"> {{element.amount}} LT </td>
                    </ng-container>
            
            
                    <ng-container matColumnDef="price">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Sale Price </th>
                        <td mat-cell *matCellDef="let element"> {{element.price |currency: "TRY":true}}</td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div>
                    <p style="text-align: center;margin-top: 30px;font-weight: 400;" *ngIf="emptyData"> No data found!</p>
                </div>

                <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons aria-label="Select page of periodic elements">
                </mat-paginator>
                <div class="card-footer"></div>
            </div>
        </div>
        <!-- Message From Customer-->
        <div class="col-xl-4 col-lg-5 ">
            <div class="card">
                <div class="card-header py-4 bg-primary d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-light">Message From Customer</h6>
                </div>
                <div>
                    <div class="customer-message align-items-center">
                        <a class="font-weight-bold" href="#">
                            <div class="text-truncate message-title">Hi there! I am wondering if you can help me with a
                                problem I've been having.</div>
                            <div class="small text-gray-500 message-time font-weight-bold">Udin Cilok · 58m</div>
                        </a>
                    </div>
                    <div class="customer-message align-items-center">
                        <a href="#">
                            <div class="text-truncate message-title">But I must explain to you how all this mistaken
                                idea
                            </div>
                            <div class="small text-gray-500 message-time">Nana Haminah · 58m</div>
                        </a>
                    </div>
                    <div class="customer-message align-items-center">
                        <a class="font-weight-bold" href="#">
                            <div class="text-truncate message-title">Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit
                            </div>
                            <div class="small text-gray-500 message-time font-weight-bold">Jajang Cincau · 25m</div>
                        </a>
                    </div>
                    <div class="customer-message align-items-center">
                        <a class="font-weight-bold" href="#">
                            <div class="text-truncate message-title">At vero eos et accusamus et iusto odio dignissimos
                                ducimus qui blanditiis
                            </div>
                            <div class="small text-gray-500 message-time font-weight-bold">Udin Wayang · 54m</div>
                        </a>
                    </div>
                    <div class="card-footer text-center">
                        <a class="m-0 small text-primary card-link" href="#">View More <i
                                class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>